- title t('.title')

.row
  .col-xs-12.col-md-6.col-md-offset-3
    = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      .panel.panel-default
        .panel-heading
          h2.panel-title= t('.header.panel')
        .panel-body
          = f.error_notification
          = f.full_error :confirmation_token
          = f.input :email, required: false, autofocus: true
        .panel-footer
          .btn-toolbar
            = render 'devise/shared/links'
            = f.submit t('.label.resend_instructions'), class: 'btn btn-default pull-right'
