- if controller_name != 'sessions'
  = link_to t('.label.sign_in'), new_session_path(resource_name), class: 'btn btn-default'

- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "Sign up", new_registration_path(resource_name), class: 'btn btn-default'

- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to t('.label.lost_password'), new_password_path(resource_name), class: 'btn btn-default'

- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to t('.label.confirmation_instructions'), new_confirmation_path(resource_name), class: 'btn btn-default'

- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to t('.label.unlock_instructions'), new_unlock_path(resource_name), class: 'btn btn-default'

- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: 'btn btn-default'
