- title t('.title')

.row
  .col-xs-12.col-md-6.col-md-offset-3
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .panel.panel-default
        .panel-heading
          h2.panel-title= t('.header.panel')
        .panel-body
          = f.error_notification
          = f.input :email, required: false, autofocus: true
          = f.input :password, required: false
          = f.input :remember_me, as: :boolean, wrapper: :bootstrap3_checkbox if devise_mapping.rememberable?
        .panel-footer
          .btn-toolbar
            = render 'devise/shared/links'
            = f.submit t('.label.sign_in'), class: 'btn btn-default pull-right'
