- title t('.title')

- content_for :page_header do
  h1
    = t('.page_header')

.row
  .col-xs-12#main
    - if @rooms.any?
      = render partial: 'rooms/room', collection: @rooms, as: :room
    - else
      = render partial: 'no_results'
