- title [t('.title'), @room.name]

- content_for :page_header do
  h1
    = @room.name
    small= t('.page_header')

.row
  .col-xs-12.col-md-8#main data-behavior="chat" data-room-id=@room.id
    .form-group.text
      = text_area_tag 'messages', '', disabled: true, rows: 20, class: 'text form-control'
    = simple_form_for :message, url: room_messages_path(@room) do |f|
      = f.input :content, input_html: { autocomplete: 'off' }
  aside.col-xs-12.col-md-4
