@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Open+Sans+Condensed:300,700";

@import "settings";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "select2";
@import "lib/select2-bootstrap";

@import "mixins";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 50px;
  margin-bottom: 80px;
}

.page-header h1 small {
  margin-left: 20px;
}

.text-muted a { color: inherit; }

address {
  margin-bottom: 0;
}

.row.spacer {
  height: 20px;
}

article.object h3 {
  margin-top: 0;
}
