/* Fonts */
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: 300;
$label-font-weight: 300;
$badge-font-weight: 300;
$lead-font-weight: 300;
