meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=9"
meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"

title
  | Chatter
  - if content_for?(:title)
    == " &raquo; #{yield :title}"

= stylesheet_link_tag 'application', media: 'all', :'data-turbolinks-track' => true

/[ if lt IE 9 ]
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js'
= javascript_include_tag 'application', :'data-turbolinks-track' => true
= javascript_include_tag :modernizr

link href=asset_path('favicon.ico') type="image/x-icon" rel="shortcut icon"/
link href=asset_path('apple-touch-icon-precomposed.png') rel="apple-touch-icon" /
link href=asset_path('apple-touch-icon-72x72-precomposed.png') sizes="72x72" rel="apple-touch-icon"/
link href=asset_path('apple-touch-icon-76x76-precomposed.png') sizes="76x76" rel="apple-touch-icon"/
link href=asset_path('apple-touch-icon-114x114-precomposed.png') sizes="114x114" rel="apple-touch-icon"/
link href=asset_path('apple-touch-icon-120x120-precomposed.png') sizes="120x120" rel="apple-touch-icon"/
link href=asset_path('apple-touch-icon-144x144-precomposed.png') sizes="144x144" rel="apple-touch-icon"/
link href=asset_path('apple-touch-icon-152x152-precomposed.png') sizes="152x152" rel="apple-touch-icon"/

= csrf_meta_tags

== yield :header
