nav.navbar.navbar-default.navbar-fixed-top role="navigation"
  .container
    .navbar-header
      button.navbar-toggle data-target="#main-nav" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        / = image_tag 'logo.svg', class: 'img-logo'
        small= t('app.name')
    #main-nav.collapse.navbar-collapse
      ul.nav.navbar-nav
        / = menu_link_to t('.label.chains'), chains_path
        / = menu_link_to t('.label.venues'), venues_path
        / = menu_link_to t('.label.about'), '#'
        / = menu_link_to t('.label.categories'), categories_path
        / = menu_link_to t('.label.explore_views'), explore_views_path
        / = menu_link_to t('.label.licensors'), licensors_path
        / = menu_link_to t('.label.users'), users_path
      / ul.nav.navbar-nav.navbar-right
      /   - if user_signed_in?
      /     li.dropdown
      /       a href="#" class="dropdown-toggle" data-toggle="dropdown"
      /         / = current_user.name
      /         = ' '
      /         span.caret
      /       / ul.dropdown-menu role="menu"
      /         / li= link_to t('.label.log_off'), destroy_user_session_path, method: :delete
      /   - else
      /     = menu_link_to t('.label.sign_in'), new_user_session_path
      /     = menu_link_to t('.label.sign_up'), new_user_registration_path
