doctype 5

/[ if lt IE 7 ]
    html class="no-js ie6 ie" lang=I18n.locale
/[ if IE 7 ]
    html class="no-js ie7 ie" lang=I18n.locale
/[ if IE 8 ]
    html class="no-js ie8 ie" lang=I18n.locale
/[ if (gt IE 9)|!(IE) ]
    html class="no-js" lang=I18n.locale

head
  = render 'html_header'

body data-language=I18n.locale data-controller=params[:controller].parameterize data-action=params[:action].parameterize
  = render 'navigation'

  - if content_for?(:page_header)
    .container-fluid#page-header-wrapper
      .container
        .row
          .col-xs-12
            .page-header
              == yield :page_header

  .container
    .row
      section.col-xs-12 role="main"
        == flash_messages
        == yield

  = render 'footer'
